<p>
    <mat-toolbar color="primary">
     <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button> -->
    <span>Todo Aplication</span>
    <span class="example-spacer"></span>
    
  </mat-toolbar>
  </p>
