<ng-container>
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title> Take a Note </mat-panel-title>
            <mat-panel-description> Expand it </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-form-field>
            <input matInput placeholder="id" name="id" [(ngModel)]="note.id" />
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput placeholder="Userid" name="USerid" [(ngModel)]="note.userId" />
        </mat-form-field>
        <mat-form-field style="width: 100%;">
            <textarea matInput placeholder="Title" name="title" [(ngModel)]="note.title"></textarea>
        </mat-form-field>
        <!-- <mat-form-field style="width: 30%;">
            <input matInput placeholder="If task Completed type true else type false"  name="check" [(ngModel)]="note.completed" >
        </mat-form-field> -->
        <mat-checkbox  [(ngModel)]="note.completed">Task Completed</mat-checkbox>
        <mat-action-row>
            <button mat-raised-button color="accent" on-click="search()">Search a Todo</button>
            <button mat-raised-button color="primary" on-click="add()">Add Todo</button>
            <button mat-raised-button color="" on-click="edit()">Update Todo</button>
            <button mat-raised-button color="warn" on-click="delete()">Delete Todo</button>
        </mat-action-row>
    </mat-expansion-panel>
</ng-container>


<br>

<div class="container">
    
    <table class="table table-dark table-striped table-hover">
        <thead>
            <tr>
                <th>UserId</th>
                <th>ID</th>
                <th>title</th>
                <th>Completed</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of notes">
                <td><input type="checkbox" name="status" id="status" [checked]="item.completed" ></td>
                <td>{{item.userId}}</td>
                <td>{{item.id}}</td>
                <td>{{item.title}}</td>
               
            </tr>
        </tbody>
    </table>
    
</div>



